<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" routerLink="">
    <span class="d-block d-lg-none">Shripad Mhetre</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 175px;" src="../../assets/img/MyPhoto.jpg" alt="My Photo">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="contact">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>