<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h2 class="my-4">Pro<span class="text-primary">jects</span></h2>
  <hr />

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid rounded mb-3 mb-md-0" src="https://github.com/ShripadMhetre/Bash_Calculator/blob/master/snapshots/snapshot1.png?raw=true" alt="">
    </div>
    <div class="col-md-5">
      <h3>Unix Bash Calculator</h3>
      <p>This is the Command line Arbitrary precision calculator which is implemented using C Programming language.
        It tries to implement some functionalities from unix based command 'bc'.</p>
      <p>It is a Data Structure and Algorithms project mainly using Linked Lists and Stacks </p>
      <a class="btn btn-primary" target="_blank" href="https://github.com/ShripadMhetre/Bash_Calculator">View Project</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/img/wikiViewer.PNG" alt="">
    </div>
    <div class="col-md-5">
      <h3>Wiki Viewer</h3>
      <p>Wikipedia articles search and retrieval using Wikipedia API and HTML, CSS, Vanilla JS. </p>
      <p>Allow users to search Wikipedia articles.
        Uses Wikpedia's API to retrieve the articles</p>
      <a class="btn btn-primary" target="_blank" href="https://shripadmhetre.github.io/Wiki-Viewer/">View Project</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/img/moviesDB.PNG" alt="">
    </div>
    <div class="col-md-5">
      <h3>MoviesDB</h3>
      <p>Basic IMDb like website where you can search for a movie and get Poster and information related it. Implemented with javascript and Jquery using "OMDb API" which is a RESTful web service.</p>
      <p>Uses "Axios" which is Promise-based HTTP client for the browser and node.js</p>
      <a class="btn btn-primary" href="https://shripadmhetre.github.io/MoviesDB/">View Project</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Four -->
  <div class="row">

    <div class="col-md-7">
      <img class="img-fluid rounded mb-3 mb-md-0" src="https://github.com/ShripadMhetre/Bash_Calculator/blob/master/snapshots/snapshot1.png?raw=true" alt="">
    </div>
    <div class="col-md-5">
      <h3>Project Four</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
  </div>
  <!-- /.row -->
  <hr>

</div>
<!-- /.container -->