
<article class="resume-wrapper text-center position-relative">
  
    <div  class="mb-4">
      <a href="https://drive.google.com/open?id=1-DAiddhmQt4mFOmoBAypjzfQ-PmFDr8X" target="_blank" id="resume-btn" class="btn btn-lg btn-outline-secondary font-weight-bold" >
          Download Resume
      </a>
    </div>
  
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
    <header class="resume-header pt-4 pt-md-0">
      <div class="media flex-column flex-md-row">
        <img class="mr-3 img-fluid picture mx-auto" style="height: 220px;" src="../../assets/img/MyPhoto.jpg" alt="MyPhoto">
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
          <div class="primary-info">
            <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Shripad Mhetre</h1>
            <div class="title mb-3">Student | COEP</div>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="mailto:shripadmhetre100@gmail.com?body=Contacting%20through%20portfolio%20site%20!" target="_top"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>shripadmhetre100@gmail.com</a></li>
              <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>(+91) 9960871754</a></li>
            </ul>
          </div><!--//primary-info-->
          <div class="secondary-info ml-md-auto mt-2">
            <ul class="resume-social list-unstyled">
                    <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/shripadmhetre</a></li>
                    <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/ShripadMhetre</a></li>
                    <!-- <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-codepen fa-fw"></i></span>codepen.io/username/</a></li> -->
                    <li><a href="www.shripadmhetre.tk" target="_blank"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>www.shripadmhetre.tk</a></li>
            </ul>
          </div><!--//secondary-info-->
          
        </div><!--//media-body-->
      </div><!--//media-->
    </header>
    <div class="resume-body p-5">
      <section class="resume-section summary-section mb-5">
        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
        <div class="resume-section-content">
          <p class="mb-0">Experienced developer Skilled in Python, Java, JavaScript and Full Stack Web Development. Strong engineering professional pursuing Bachelor of Technology (BTech) focused in Information Technology from College of engineering Pune.</p>
        </div>
      </section><!--//summary-section-->
      <div class="row">
        <div class="col-lg-9">
          <section class="resume-section experience-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
            <div class="resume-section-content">
              <div class="resume-timeline position-relative">
                <article class="resume-timeline-item position-relative pb-5">
                  
                  <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">HEAD & PROJECT LEAD</h3>
                        <div class="resume-company-name ml-auto">COEP Webteam</div>
                    </div><!--//row-->
                    <div class="resume-position-time">2018 - Present</div>
                  </div><!--//resume-timeline-item-header-->
                  <div class="resume-timeline-item-desc">
                    <p>The COEP Webteam is a student body responsible for the development and content of the COEP website and website related services. And
                      has admin access to COEP Server.</p>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
                    <ul>
                      <li>Developing the content on COEP's website using Drupal CMS</li>
                      <li>Created websites for national conferences and summer school at COEP</li>
                      <li>Increased Security of the website by shifting it to server with SSH key based login and SSL certification.</li>
                      <!-- <li>Maecenas tempus tellus eget</li> -->
                    </ul>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                    <ul class="list-inline">
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">Drupal7</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">PHP</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML5</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">CSS3</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">JavaScript</span></li>
                    </ul>

                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tools used:</h4>
                    <ul class="list-inline">
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">Linux Server</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">Linux Command Line</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">SSH</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">SCP</span></li>
                    </ul>
                  </div><!--//resume-timeline-item-desc-->

                </article><!--//resume-timeline-item-->
                
    
                
                
              </div><!--//resume-timeline-->
                 
            </div>
          </section><!--//experience-section-->



          <section class="resume-section experience-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Extra Curricular</h2>
            <div class="resume-section-content">
              <div class="resume-timeline position-relative">
                <article class="resume-timeline-item position-relative pb-5">
                  
                  <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">Developer</h3>
                        <div class="resume-company-name ml-auto">Software Development Section (SDS)</div>
                    </div><!--//row-->
                    <div class="resume-position-time">2018 - Present</div>
                  </div><!--//resume-timeline-item-header-->
                  <div class="resume-timeline-item-desc">
                    <p>SDS is the technical club for development of software requirements of the college.</p>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
                    <ul>
                      <li>Worked on Web application Projects</li>
                      <li>Lead contributor of OSS project for COEP Student Section.</li>
                    </ul>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                    <ul class="list-inline">
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML5</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">CSS3</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">PHP</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">JavaScript</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>
                      <!-- <li class="list-inline-item"><span class="badge badge-primary badge-pill">Android</span></li> -->
                    </ul>
                  </div><!--//resume-timeline-item-desc-->

                </article><!--//resume-timeline-item-->


                <article class="resume-timeline-item position-relative pb-5">
                  
                  <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">ORGANISING TEAM MEMBER</h3>
                        <div class="resume-company-name ml-auto">COEP FOSSMeet (Free and Open Source Software)</div>
                    </div><!--//row-->
                    <div class="resume-position-time">March 2019</div>
                  </div><!--//resume-timeline-item-header-->
                  <div class="resume-timeline-item-desc">
                    <p>The second edition of COEP’s own Free and Open Source Software event with a vision to promote the culture of openness, innovation
                      and freedom in open source world.</p>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
                    <ul>
                      <li>Developed website for the FOSSMeet’19 using WordPress.</li>
                      <li>Link :- <a href="https://foss.coep.org.in/fossmeet/" target="_blank">https://foss.coep.org.in/fossmeet/</a></li>
                    </ul>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">WordPress</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML5</span></li>
                      <li class="list-inline-item"><span class="badge badge-primary badge-pill">CSS3</span></li>
                      <!-- <li class="list-inline-item"><span class="badge badge-primary badge-pill">Android</span></li> -->
                    </ul>
                  </div><!--//resume-timeline-item-desc-->

                </article><!--//resume-timeline-item-->
                
              </div><!--//resume-timeline-->
          
            </div>
          </section><!--//extra-curricular-section-->


        </div>
        <div class="col-lg-3">
          <section class="resume-section skills-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
            <div class="resume-section-content">
                <div class="resume-skill-item">
                  <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
                  <ul class="list-unstyled mb-4">
                    <li class="mb-2">
                      <div class="resume-skill-name">HTML5</div>
                    <div class="progress resume-progress">
                    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                  </li>

                    <li class="mb-2">
                        <div class="resume-skill-name">CSS3/SCSS</div>
                      <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                    </li>
                    <li class="mb-2">
                        <div class="resume-skill-name">Bootstrap4</div>
                      <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                    </li>
                    <li class="mb-2">
                        <div class="resume-skill-name">JavaScript</div>
                      <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 78%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                    </li>
                    <li class="mb-2">
                        <div class="resume-skill-name">Angular & React</div>
                      <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                    </li>
                  </ul>
                </div><!--//resume-skill-item-->
                
                <div class="resume-skill-item">
                    <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
                  <ul class="list-unstyled">
                    <li class="mb-2">
                        <div class="resume-skill-name">Python/Django</div>
                      <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                    </li>
                    <li class="mb-2">
                        <div class="resume-skill-name">PHP</div>
                      <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                    </li>
                    <li class="mb-2">
                        <div class="resume-skill-name">Drupal 7 CMS</div>
                      <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                    </li>
                  </ul>
                </div><!--//resume-skill-item-->
                
                <div class="resume-skill-item">
                    <h4 class="resume-skills-cat font-weight-bold">Others</h4>
                    <ul class="list-inline">
                      <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
                      <li class="list-inline-item"><span class="badge badge-light">Linux Command Line</span></li>
                      <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
                      <li class="list-inline-item"><span class="badge badge-light">JQuery</span></li>                    
                    </ul>
                </div><!--//resume-skill-item-->
            </div><!--resume-section-content-->
          </section><!--//skills-section-->
          <section class="resume-section education-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
            <div class="resume-section-content">
              <ul class="list-unstyled">
                <li class="mb-2">
                    <div class="resume-degree font-weight-bold">TY B.Tech. (Information Technology)</div>
                    <div class="resume-degree-org">College of Engineering, Pune</div>
                    <div class="resume-degree-org">CGPA : 7.14/10</div>
                    <div class="resume-degree-time">2017 - 2021</div>
                </li>
                <li>
                    <div class="resume-degree font-weight-bold">HSC Examination, Science</div>
                    <div class="resume-degree-org">Shri. Balaji Jr. Collge, Ichalkaranji</div>
                    <div class="resume-degree-org">PERCENTAGE : 89.85%</div>
                    <div class="resume-degree-time">2017</div>
                </li>
                <li>
                    <div class="resume-degree font-weight-bold">SSC Examination</div>
                    <div class="resume-degree-org">Shri. Balaji Highschool, Ichalkaranji</div>
                    <div class="resume-degree-org">PERCENTAGE : 94.20%</div>
                    <div class="resume-degree-time">2015</div>
                </li>
              </ul>
            </div>
          </section><!--//education-section-->
          <!-- <section class="resume-section reference-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
            <div class="resume-section-content">
              <ul class="list-unstyled resume-awards-list">
                <li class="mb-2 pl-4 position-relative">
                    <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                    <div class="resume-award-name">Award Name Lorem</div>
                    <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</div>
                </li>
                <li class="mb-0 pl-4 position-relative">
                    <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                    <div class="resume-award-name">Award Name Ipsum</div>
                    <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque.</div>
                </li>
              </ul>
            </div>
          </section> -->
          <section class="resume-section language-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
            <div class="resume-section-content">
              <ul class="list-unstyled resume-lang-list">
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
                <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Hindi</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
                <li><span class="resume-lang-name font-weight-bold">Marathi</span> <small class="text-muted font-weight-normal">(Native)</small></li>
              </ul>
            </div>
          </section><!--//language-section-->
          <section class="resume-section interests-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
            <div class="resume-section-content">
              <ul class="list-unstyled">
                <li class="mb-1">Learning Tech</li>
                <li class="mb-1">Music</li>
                <li class="mb-1">Event Managing</li>
                <li class="mb-1">Connecting with people</li>
              </ul>
            </div>
          </section><!--//interests-section-->
          
        </div>
      </div><!--//row-->
    </div><!--//resume-body-->
    
    
  </div>
</article>

<footer class="footer text-center pt-2 pb-5">
    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
             <small class="copyright">Resume template Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
 </footer>