/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 54px;
    color: #868e96;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}
  
h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}
  
h2 {
    font-size: 3.5rem;
}
  
h3 {
    font-size: 2rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}
  
.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem;
}
  
.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}
  
.social-icons a:last-child {
    margin-right: 0;
}
  
.social-icons a:hover {
    background-color: #BD5D38;
}
  
.dev-icons {
    font-size: 3rem;
}
  
.dev-icons .list-inline-item i:hover {
    color: #BD5D38;
}

.bg-primary {
    background-color: #BD5D38 !important;
  }
  
  .text-primary {
    color: #BD5D38 !important;
  }
  
  a {
    color: #BD5D38;
  }
  
  a:hover, a:focus, a:active {
    color: #824027;
  }
  