<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="home">
    <div class="w-100">
      <h1 class="mb-0">Shripad
        <span class="text-primary">Mhetre</span>
      </h1>
      <hr />
      <p class="lead mb-5">
        Strong engineering professional pursuing Bachelor of Technology (B.Tech.) focused in Information Technology from College of engineering Pune. 
        Skilled in Python, Java, JavaScript and Full Stack Web Development.
      </p>
      <div>
        <h3>Connect with Me &#9758;</h3><br>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/shripadmhetre/" target="blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/ShripadMhetre" target="blank">
            <i class="fab fa-github"></i>
          </a>
          <!-- <a href="https://www.instagram.com/shripadmhetre/" target="blank">
            <i class="fab fa-instagram"></i>
          </a> -->
          <a href="mailto:shripadmhetre100@gmail.com">
            <i class="far fa-envelope"></i>
          </a>
        </div>
      </div>
      
    </div>
  </section>

  <hr class="m-0">

</div>